{
    # Opcional, mas recomendado: adicione seu e-mail para notificações do certificado SSL
    email seu-email@exemplo.com
}

# Subdomínio para a aplicação Frontend (Next.js)
app.iaanddata.perseuai.online {
    reverse_proxy frontend:3000
}

# Subdomínio para a API Backend (FastAPI)
api.iaanddata.perseuai.online {
    reverse_proxy backend:8000
}
